<style>

</style>

<div class="container">

</div>

{% schema %}
  {
    "name": "wishlist-test",
    "tag": "section",
    "class": "shopify-section-wishlist-test",
    "settings": [
      {
        "type": "product_list",
        "id": "products",
        "label": "Products"
      }
    ],
    "presets": [
      {
        "name": "wishlist-test",
        "settings": {

        }
      }
    ]
  }
{% endschema %}